
<div class="row">

    <div class="col">
		<!-- <div>
		  <h5>Please choose Power Plant Type: </h5>
		</div>

		<div style="height:30px"> </div> -->

    <label for="form1" class=" label label-success">Power Plant Type:</label>
		<select class="browser-default custom-select" (change)="selected()" [(ngModel)]="id">
		  <!-- <option selected [ngValue]="0">Power Plant</option> -->
		  <option *ngFor="let st of service.list" [ngValue]="st.Id">{{st.Name}}</option>
		</select>
		 
    </div>

    <div class="col">
		<!-- <div>
		  <h5>Choose Pollutant to calculate dispersion: </h5>
		</div>

		<div style="height:30px"> </div> -->
    <label for="form1" class="label">Pollutant Type:</label>
		<select class="browser-default custom-select" (change)="selected()" [(ngModel)]="idPollutant">
		  <!-- <option selected [ngValue]="0">Power Plant</option> -->
		  <option *ngFor="let stp of service.stpList" [ngValue]="stp.Id">{{stp.Name}}</option>
		</select>
    </div>
 
</div>




<form #form="ngForm"  (submit)="onSubmit(form)" >
  <input type="hidden" name="Id" [value]="service.formDispersionData.Id">
  <!-- <input type="hidden" name="PollutantID" #PollutantID="ngModel" [(ngModel)]="service.formDispersionData.PollutantID"> -->

  <div class="steptwo"></div>
  <div style="height:30px"> </div>
  <!-- <h5>Dispersion Form Info: </h5> -->
  <!-- <hr style="height:30px"> -->

  
  
  <!-- <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-door-open"></i>
            </div>
        </div>
        <input name="PollutantID" #PollutantID="ngModel" [(ngModel)]="service.formDispersionData.PollutantID" class="form-control" value ="{{idPollutant}}" required>
    </div>
</div> -->

<div class="form-group">
  <div class="md-form">
    <input name="PollutantID" #PollutantID="ngModel" [(ngModel)]="service.formDispersionData.PollutantID"  value ="{{idPollutant}}" placeholder= "{{idPollutant}}" mdbInput type="text" id="form1" class="form-control" hidden>
    <!-- <label for="form1" class="">Id, care ar trebuie sa se completeze automat </label> -->
  </div>
</div>

<div class="form-group">
  <div class="md-form">
    <input name="EmissionOfPollutantsConcentration" #EmissionOfPollutantsConcentration="ngModel" [(ngModel)]="service.formDispersionData.EmissionOfPollutantsConcentration" mdbInput type="text" id="form1" class="form-control" >
    <label for="form1" class="">Pollutant Concentration</label>
  </div>
</div>


    <div class="form-group">
      <!-- Material form grid -->
  
      <!-- Grid row -->
      <div class="row">
      <!-- Grid column -->
      <div class="col">
          <!-- Material input -->
          <div class="md-form">
                  <input name="SmokeExitSpeed" #SmokeExitSpeed="ngModel" [(ngModel)]="service.formDispersionData.SmokeExitSpeed" mdbInput type="text" id="form1" class="form-control" >
                  <label for="form1" class="">Smoke Exit Speed</label>
          </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col">
          <!-- Material input -->
          <div class="md-form">
                  <input name="ExitTemperature" #ExitTemperature="ngModel" [(ngModel)]="service.formDispersionData.ExitTemperature"  mdbInput type="text" id="form1" class="form-control" >
                  <label for="form1" class="">Smoke Exit Temperature</label>
          </div>
      </div>
      <!-- Grid column -->
      </div>
      <!-- Grid row -->
  
<!-- Material form grid -->
</div>



<div class="form-group">
  <!-- Material form grid -->

  <!-- Grid row -->
  <div class="row">
  <!-- Grid column -->
  <div class="col">
      <!-- Material input -->
      <div class="md-form">
              <input name="CurrentDate" #CurrentDate="ngModel" [(ngModel)]="service.formDispersionData.CurrentDate" mdbInput type="text" id="form1" class="form-control"  >
              <label for="form1" class="">Current Date</label>
      </div>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col">
      <!-- Material input -->
      <div class="md-form">
              <input name="AirTemperature" #AirTemperature="ngModel" [(ngModel)]="service.formDispersionData.AirTemperature"  mdbInput type="text" id="form1" class="form-control" >
              <label for="form1" class="">Air Temperature</label>
      </div>
  </div>
  <!-- Grid column -->
  </div>
  <!-- Grid row -->

<!-- Material form grid -->
</div>



      <div class="form-group">
        <!-- Material form grid -->
      
        <!-- Grid row -->
        <div class="row">
        <!-- Grid column -->
          <div class="col">
              <!-- Material input -->
              <div class="md-form">
                      <input name="WindDirection" #WindDirection="ngModel" [(ngModel)]="service.formDispersionData.WindDirection" mdbInput type="text" id="form1" class="form-control" >
                      <label for="form1" class="">Wind Direction</label>
              </div>
          </div>
          <!-- Grid column -->
        
          <!-- Grid column -->
          <div class="col">
              <!-- Material input -->
              <div class="md-form">
                      <input name="WindSpeedAtTenMetters" #WindSpeedAtTenMetters="ngModel" [(ngModel)]="service.formDispersionData.WindSpeedAtTenMetters"  mdbInput type="text" id="form1" class="form-control" >
                      <label for="form1" class="">Wind Speed </label>
              </div>
          </div>

          <div class="col">
              <!-- Material input -->
              <div class="md-form">
                  <input name="MaxDistance" #MaxDistance="ngModel" [(ngModel)]="service.formDispersionData.MaxDistance" mdbInput type="text" id="form1" class="form-control" >
                  <label for="form1" class="">Maximum Distance</label>
              </div>
          </div>   
        </div>
      </div>


      <div class="form-group">
          <!-- Material form grid -->
      
          <!-- Grid row -->
          <div class="row">
          <!-- Grid column -->
          <div class="col">
              <label for="form1" class="label">Cloud Coverage</label>
              <select class="form-control" (change)="selectCloudCoverage()"  [(ngModel)]="idCloudCoverage" [ngModelOptions]="{standalone: true}">
                   <option *ngFor="let st of cloudCoverageList" [ngValue]="st">{{st}}</option>
              </select>
              <input name="CloudCoverage" #CloudCoverage="ngModel" [(ngModel)]="service.formDispersionData.CloudCoverage"  mdbInput type="text" id="form1" class="form-control"hidden >
              
          </div>
    
          <div class="col">
              <label for="form1" class="label">Solar Radiation</label>
              <select class="form-control" (change)="selectSolarRadiation()"  [(ngModel)]="idSolarRadiations" [ngModelOptions]="{standalone: true}">
                 <option *ngFor="let st of solarRadiationsList" [ngValue]="st">{{st}}</option>
              </select>
              <input name="SolarRadiations" #SolarRadiations="ngModel" [(ngModel)]="service.formDispersionData.SolarRadiations"  mdbInput type="text" id="form1" class="form-control"hidden >
          </div>
      
         </div>  
        </div>



  <div class="form-group">

      <button class="btn btn-succes btn-lg btn-block teal lighten-2" type="submit" [disabled]="form.invalid"><i class="far fa-check-circle"></i>
              Submit
          </button>
  </div>

</form>





