<body>
    <div class="container" style="width:60%">


        <form #form="ngForm" *ngIf="var1">
            <div class="stepone"></div>
            <div style="height:30px"> </div>
            <h2>Step One</h2>
            <hr style="height:30px">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="button" class="btn btn-primary" (click)="nextForm1()">Next</button>
        </form>


        <form #form="ngForm" *ngIf="var2">
            <div class="steptwo"></div>
            <div style="height:30px"> </div>
            <h2>Step Two</h2>
            <hr style="height:30px">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-door-open"></i>
                        </div>
                    </div>
                    <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" placeholder="Pollutin Source Name" required>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="nextForm2()">Next</button>
        </form>

        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" *ngIf="var3">
            <input type="hidden" name="PollutantListID" [value]="service.formData.PollutantListID">
            <div class="steptwo"></div>
            <div style="height:30px"> </div>
            <h2>Step Two</h2>
            <hr style="height:30px">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-door-open"></i>
                        </div>
                    </div>
                    <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" placeholder="Pollutin Source Name" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-hamsa"></i>
                        </div>
                    </div>
                    <input name="ChemicalFormula" #ChemicalFormula="ngModel" [(ngModel)]="service.formData.ChemicalFormula" class="form-control" placeholder="Chemical Formula" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-hamsa"></i>
                        </div>
                    </div>
                    <input name="Measure" #Measure="ngModel" [(ngModel)]="service.formData.Measure" class="form-control" placeholder="Measure" required>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-succes btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-toilet-paper"></i>
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>