<body>

    <!-- Horizontal Steppers -->
    <div class="row">
        <div class="col-md-12">

            <!-- Stepers Wrapper -->
            <ul class="stepper stepper-horizontal">

                <!-- First Step -->
                <li class="completed">
                    <a href="#!">
                        <span class="circle">1</span>
                        <span class="label">First step</span>
                    </a>
                </li>

                <!-- Second Step -->
                <li class="active">
                    <a href="#!">
                        <span class="circle">2</span>
                        <span class="label">Second step</span>
                    </a>
                </li>

                <!-- Third Step -->
                <li class="warning">
                    <a href="#!">
                        <span class="circle">3</span>
                        <span class="label">Third step</span>
                    </a>
                </li>

            </ul>
            <!-- /.Stepers Wrapper -->

        </div>
    </div>
    <!-- /.Horizontal Steppers -->

    <div class="container" style="width:60%">
    <div><app-dispersion-model-form></app-dispersion-model-form> </div>
    <div> <app-pollution-source-form></app-pollution-source-form> </div>
        

    </div>
</body>