<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" >
  <input type="hidden" name="Id" [value]="service.formData.Id">
  <div class="steptwo"></div>
  <div style="height:30px"> </div>
  <h4>Pollution Source Form :  {{authService.decodedToken.unique_name}}  </h4>
  <hr style="height:30px">

    <div class="form-group">
        
            <div class="md-form">
                    <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" mdbInput type="text" id="form1" class="form-control" required>
                    <label for="form1" class="">Name</label>
            </div> 
    </div>

    <div class="form-group">
        <div class="md-form">
                <input name="Description" #Description="ngModel" [(ngModel)]="service.formData.Description" mdbInput type="text" id="form1" class="form-control" required>
                <label for="form1" class="">Description</label>
        </div>
    </div>

    <div class="form-group">
            <!-- Material form grid -->
        
            <!-- Grid row -->
            <div class="row">
            <!-- Grid column -->
            <div class="col">
                <!-- Material input -->
                <div class="md-form">
                        <input name="Longitude" #Longitude="ngModel" [(ngModel)]="service.formData.Longitude"  mdbInput type="text" id="form1" class="form-control" required>
                        <label for="form1" class="">Longitude</label>
                </div>
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col">
                <!-- Material input -->
                <div class="md-form">
                        <input name="Latitude" #Latitude="ngModel" [(ngModel)]="service.formData.Latitude"  mdbInput type="text" id="form1" class="form-control" required>
                        <label for="form1" class="">Latitude</label>
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col">
                <!-- Material input -->
                <div class="md-form">
                        <input name="Altitude" #Altitude="ngModel" [(ngModel)]="service.formData.Altitude" mdbInput type="text" id="form1" class="form-control" required>
                        <label for="form1" class="">Altitude </label>
                </div>
            </div>
            <!-- Grid column -->
            </div>
            <!-- Grid row -->
        
      <!-- Material form grid -->
    </div>

    <div class="form-group">
            <!-- Material form grid -->
        
            <!-- Grid row -->
            <div class="row">
            <!-- Grid column -->
            <div class="col">
                <!-- Material input -->
                <div class="md-form">
                        <input name="ChimneyHeight" #ChimneyHeight="ngModel" [(ngModel)]="service.formData.ChimneyHeight" mdbInput type="text" id="form1" class="form-control" required>
                        <label for="form1" class="">Chimney Height</label>
                </div>
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col">
                <!-- Material input -->
                <div class="md-form">
                        <input name="ChimneyDiameter" #ChimneyDiameter="ngModel" [(ngModel)]="service.formData.ChimneyDiameter" mdbInput type="text" id="form1" class="form-control" required>
                        <label for="form1" class="">Chimney Diameter</label>
                </div>
            </div>
            <!-- Grid column -->
            </div>
            <!-- Grid row -->
        
      <!-- Material form grid -->
    </div>

    <div class="form-group">
        <div class="md-form">
                 <input name="TerrainType" #TerrainType="ngModel" [(ngModel)]="service.formData.TerrainType" value="{{idTerrainType}}" mdbInput type="text" id="form1" class="form-control" hidden>
                 
        </div>
    </div>

    <div class="form-group">
                <label for="form1" class="label">Terrain Type</label>
                <select class="form-control" (change)="selected()"  [(ngModel)]="idTerrainType" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let st of terrainTypeList" [ngValue]="st">{{st}}</option>
                </select>

                <div class="md-form">
                         <input name="UserID" #UserID="ngModel" [(ngModel)]="service.formData.UserID" value="{{authService.de}}" mdbInput type="text" id="form1" class="form-control" hidden>
                </div>
            </div>

    <!-- <input name="TerrainType" #TerrainType="ngModel" [(ngModel)]="service.formData.TerrainType" class="form-control" placeholder="Terrain Type" required> -->


  <div class="form-group">
      <button class="btn btn-succes btn-lg btn-block teal lighten-2" type="submit" [disabled]="form.invalid"><i class="far fa-check-circle"></i>
              Submit
          </button>
  </div>

</form>

<!-- <div style="height:80px"> </div>


  <table class="table table-hover">
    <title>STP</title>
      <tr>
        <th>StationTypeID</th>  
        <th>PollutantID</th>
    </tr>
    <tr *ngFor="let stp of service.pollutionSource" > 
          <td>{{stp.Description}}</td>
          <td>{{stp.Name}}</td>

    </tr>
  </table> -->
